.iphone-X {
  padding-bottom: 40px;
}

// 清除浮动
.clearfix :after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


// 单行文字。。。
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 盒子后面加个 >
.right-go {
  position: relative;

  &:after {
    content: ' ';
    width: 24rpx;
    height: 48rpx;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 30rpx;
    margin-top: -24rpx;

  }
}

// 盒子后面加个 下v
.right-down {
  position: relative;

  &:after {
    content: ' ';
    width: 26rpx;
    height: 15rpx;
    background-size: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAOCAYAAAAxDQxDAAAA+ElEQVQ4T7XUO0oEQRAG4G9zFXFBBfEg6iUW9RQmBoKBZgZmIkYbipGggY9M8J2ZeAgv4AFMpKAbhmVmetSxow6a/qaq/5oBPjHCi/9ZU7gZYC022MRzz9Y0HvAeUKzVCtZXZTN4whu2MpSxW2z00MbZhLxiOy6vQn1VNpeQe+zkp5iE/lrZEI+4w271veug31Y2n5Bo/95kqJqgOBdpvE5pLAVkIbXrCvt1yW2DMlaK/mJCznHQNB4lqNTGpdSuMxy2zWAXqCkgywk5LSF18W77qDzU6/hIEz/GUZe/SdeK8l2BXeILxzjpgvy0onznCqJtF12ROPcNH8cyZLP4R50AAAAASUVORK5CYII);
    position: absolute;
    top: 50%;
    right: 30rpx;
    margin-top: -7rpx;
  }
}

.my-btn {
  height: 88rpx;
  background: rgba(48, 49, 59, 1);
  border-radius: 12rpx;
  line-height: 88rpx;
  text-align: center;
  font-size: 28rpx;
  color: rgba(255, 255, 255, 1);
}

// 复制按钮
.copy {
  width: 80rpx;
  height: 36rpx;
  line-height: 36rpx;
  text-align: center;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 4rpx;
  font-size: 24rpx;
  color: rgba(0, 0, 0, 1);
}

// 字穿线
.discardFee {
  text-decoration: line-through;
}

// 下划线
.underline {
  text-decoration: underline;
}
